@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */
body {
  transition: background-color 0.3s ease;
}

.dark {
  background-color: #1a202c; /* Dark background */
  color: white; /* Light text */
}

.bg-gray-200 {
  background-color: #edf2f7; /* Light gray */
}

.bg-gray-800 {
  background-color: #2d3748; /* Dark gray */
}

.text-gray-900 {
  color: #1a202c; /* Dark text */
}

.text-white {
  color: #1a202c; /* Dark text */
}